@font-face {
    font-family: Katibeh;
    src: url(../Sources-Fonts/Katibeh/Katibeh-Regular.ttf);
}

@font-face {
    font-family: Rakkas;
    src: url(../Sources-Fonts/Rakkas/Rakkas-Regular.ttf);
}

body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #171C2F;
}

/* NAVBAR */
header {
    z-index: 999;
}

nav {
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid pink; */
}

.logo {
    width: 8%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.logo a img {
    height: 100%;
    width: 100%;
    /* border: 1px solid white; */
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    /* border: 1px solid yellow; */
}

.menu-kiri, .menu-kanan {
    display: flex;
}

.menu-kiri ul, .menu-kanan ul {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    list-style: none;
    align-items: center;
}

.menu-text {
    color: white;
    font-family: Katibeh, serif;
    text-decoration: none;
    font-size: 2vw;
}

.menu-text:hover {
    color: #A48D10;
    transition: 0.3s ease;
}

.hamburger {
    display: none;
    font-size: 8vw;
    cursor: pointer;
    margin-right: 5%;
    color: white;
}

.dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #171C2F;
    width: 100%;
    list-style: none;
    gap: 5vw;
    padding: 5%;
    /* border: 1px solid goldenrod; */
}

.menu-dropdown {
    font-size: 7vw;
    color: white;
    font-family: Katibeh, serif;
    text-decoration: none;
    /* border: 1px solid orange; */
}

.menu-dropdown:hover {
    color: #A48D10;
    transition: 0.3s ease
}

/* HOMEPAGE */
.section-1 {
    background-image: url("./Sources-HomePage/BG-HomePage-Desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 4px solid green; */
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border: 3px solid red; */
}

.sec-1-kiri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title{
    font-family: Katibeh, serif;
    font-size: 10vw;
    color: rgb(196, 183, 112);
    text-shadow: 0px 5px 10px black;
    margin: 0;
    text-align: center;
    line-height: 0.8;
}

.under-title{
    font-family: Rakkas, serif;
    font-size: 1.5vw;
    color: #FFFFFF;
    letter-spacing: 0.1vw;
    width: 55%;
    line-height: 1.5;
    text-shadow: 0px 4px 8px black;
    margin-top: 3%;
    text-align: center;
}

.sec-1-kanan {
    display: flex;
    align-items: center;
    width: 45%;
    /* border: 1px solid orange; */
    
}

.sec-1-kanan img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    /* border: 1px solid orange; */
}

.section-2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid orange;
}

.about-title {
    font-size: 10.5vw;
    margin-top: 5vw;
    border: 1px solid red;
}

.about-desc {
    font-size: 1.8vw;
    letter-spacing: 0.2vw;
    line-height: 2;
    width: 70%;
    border: 1px solid cyan;
.end-of-page{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #171C2F;
    border-bottom: 1px solid #FFFFFF;
    margin: 2% 0% 0% 0%;
    box-shadow: 0px 50px 50px #171C2F inset;
}

.top-text{
    font-family: Katibeh, serif;
    text-decoration: none;
    color:rgb(222, 233, 207);
    font-size: 3vw;
    text-align: center;
}

.top-text p{
    margin-top: 0;
    padding-top: 0;
}

/* FOOTER */
footer{
    background-color:#171C2F;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid yellow;
    z-index: 999;
}

.footer-atas{
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 1px solid hotpink; */
}

.footer-logo{
    width: 15%;
    display: flex;
    justify-content: center;
}

.footer-atas img{
    height: 100%;
    width: 100%;
    /* border: 1px solid peachpuff; */
}

.footer-bawah{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 0%;
    /* border: 1px solid salmon; */
}

.footer-text-1{
    text-align: center;
    color: #FFFFFF;
    font-family: Katibeh, serif;
    font-size: 2vw;
    text-decoration: none;
}

.footer-line{
    color: #FFFFFF;
    width: 75%;
}

.footer-text-2{
    text-align: center;
    color: #FFFFFF;
    font-family: Katibeh, serif;
    font-size: 1.5vw;
    text-decoration: none;
    margin-bottom: 3%;
}

/* MEDIA QUERY IPAD */
@media screen and (min-width: 540px) and (max-width: 1024px) {
    /* NAVBAR */
    .logo {
        width: 20%;
    }
    
    .menu {
        width: 78%;
    }
    
    .menu-text {
        font-size: 3.8vw;
    }

    /* HOMEPAGE */
    .section-1 {
        background-image: url("./Sources-HomePage/BG-HomePage-iPad.png");
    }

    .content{
        flex-direction: column;
        justify-content: center;
    }

    .title{
        font-size: 15vw;
    }

    .under-title{
        font-size: 2.5vw;
        width: 90%;
    }

    .sec-1-kanan{
        width: 100%;
        height: 60%;
        justify-content: center;
    }

<<<<<<< HEAD
    .about-title {
        font-size: 17vw;
        margin-top: 3vw;
    }

    .about-desc {
        width: 70%;
        font-size: 3vw;
        margin-bottom: 7vw;
=======
    .end-of-page img{
        width: 70%;
    }

    .top-text{
        font-size: 5vw;
>>>>>>> e80f788d0cf7be1550e227430419fce0391fc31b
    }

    /* FOOTER */
    .footer-logo{
        width: 25%;
    }

    .footer-text-1{
        font-size: 3vw;
    }

    .footer-line{
        width: 80%;
    }

    .footer-text-2{
        font-size: 2vw;
    }
}

/* MEDIA QUERY HP */
@media screen and (max-width: 539px){
    /* NAVBAR */
    .logo {
        width: 25%;
    }
    
    .menu {
        display: none;
    }
    
    nav {
        justify-content: space-between;
        align-items: center;
    }
    
    .hamburger {
        display: block;
        /* border: 1px solid greenyellow; */
    }
    
    .dropdown.open {
        display: flex;
        position: absolute;
        top: auto;
    }

    .navbar-open {
        background-color: #171C2F;
    }
    
    /* HOMEPAGE */
    .section-1{
        background-image: url(./Sources-HomePage/BG-HomePage-iPhone.png);
    }

    .content{
        flex-direction: column;
        justify-content: center;
        
    }

    .title{
        font-size: 18vw;
    }

    .under-title{
        font-size: 2.6vw;
        width: 65%
    }

    .sec-1-kanan{
        width: 100%;
        height: 50%;
        justify-content: center;
    }

<<<<<<< HEAD
    .about-title {
        font-size: 23vw;
    }

    .about-desc {
        font-size: 3.5vw;
=======
    .end-of-page img{
        width: 70%;
    }

    .top-text{
        font-size: 5vw;
>>>>>>> e80f788d0cf7be1550e227430419fce0391fc31b
    }

    /* FOOTER */
     .footer-logo{
        width: 30%;
    }

    .footer-text-1{
        font-size: 3vw;
    }

    .footer-line{
        width: 80%;
    }

    .footer-text-2{
        font-size: 2vw;
    }
}