@font-face {
    font-family: Katibeh;
    src: url(../Sources-Fonts/Katibeh/Katibeh-Regular.ttf);
}

@font-face {
    font-family: Rakkas;
    src: url(../Sources-Fonts/Rakkas/Rakkas-Regular.ttf);
}

body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* height: 200vh; */
    background-color: #171C2F;
}

/* NAVBAR */
header {
    z-index: 999;
}

nav {
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid pink;
    /* position: absolute; */
}

.logo {
    width: 8%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.logo a img {
    height: 100%;
    width: 100%;
    /* border: 1px solid white; */
}

.menu {
    display: flex;
    flex-direction: row;
    /* border: 1px solid yellow; */
    width: 90%;
    justify-content: space-between;
}

.menu-kiri, .menu-kanan {
    display: flex;
}

.menu-kiri ul, .menu-kanan ul {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    list-style: none;
    align-items: center;
}

.menu-text {
    color: white;
    font-family: Katibeh, serif;
    text-decoration: none;
    font-size: 2vw;
}

.menu-text:hover {
    color: #A48D10;
    transition: 0.3s ease;
}

.hamburger {
    display: none;
    font-size: 8vw;
    cursor: pointer;
    margin-right: 5%;
    color: white;
}

.dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    top: 100%;
    background: rgba(0, 0, 0, .2);
    border: 1px solid goldenrod;
    width: 100%;
    list-style: none;
    gap: 5vw;
}

.menu-dropdown {
    font-size: 7vw;
    color: white;
    font-family: Katibeh, serif;
    text-decoration: none;
    /* border: 1px solid orange; */
}

/* CLASSES */
.section-1{
    background-image: url("./Sources-ClassPage/Class-Background-Desktop/BG-Class.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid slateblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(216, 112, 147);
    height: 100vh;
}

.title{
    font-family: Katibeh, serif;
    font-size: 10vw;
    color: rgb(196, 183, 112);
    text-shadow: 10px 5px 15px black;
    margin: 0;
}

.under-title{
    font-family: Rakkas, serif;
    font-size: 1.5vw;
    color: #FFFFFF;
    letter-spacing: 0.1vw;
    width: 75%;
    line-height: 1.5;
    text-shadow: 0px 4px 8px black;
}

/* FOOTER */
footer{
    background-color:#171C2F;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid yellow;
    z-index: 999;
}

.footer-atas{
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 1px solid hotpink; */
}

.footer-logo{
    width: 15%;
    display: flex;
    justify-content: center;
}

.footer-atas img{
    height: 100%;
    width: 100%;
    /* border: 1px solid peachpuff; */
    /* display: flex; */
    /* justify-content: center; */
}

.footer-bawah{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid salmon; */
    line-height: 0%;
}

.footer-text-1{
    text-align: center;
    color: #FFFFFF;
    font-family: Katibeh, serif;
    font-size: 2vw;
    text-decoration: none;
}

.footer-line{
    color: #FFFFFF;
    width: 75%;
}

.footer-text-2{
    text-align: center;
    color: #FFFFFF;
    font-family: Katibeh, serif;
    font-size: 1.5vw;
    text-decoration: none;
    margin-bottom: 3%;
}


/* MEDIA QUERY IPAD */
@media screen and (min-width: 540px) and (max-width: 1024px) {
    /* NAVBAR */
    .logo {
        width: 20%;
    }
    
    .menu {
        width: 78%;
    }
    
    .menu-text {
        font-size: 3.8vw;
    }

    /* CLASSES */
    .section-1{
        background-image: url("./Sources-ClassPage/Class-Background-iPad/BG-Class-iPad.png");
    }

    .title{
        font-size: 15vw;
    }

    .under-title{
        font-size: 2.5vw;
        width: 85%;
    }

    /* FOOTER */
    .footer-logo{
        width: 25%;
    }

    .footer-text-1{
        font-size: 3vw;
    }

    .footer-line{
        width: 80%;
    }

    .footer-text-2{
        font-size: 2vw;
    }
}

/* MEDIA QUERY HP */
@media screen and (max-width: 539px){
    /* NAVBAR */
    .logo {
        width: 25%;
    }
    
    .menu {
        display: none;
    }
    
    nav {
        justify-content: space-between;
        align-items: center;
    }
    
    .hamburger {
        /* border: 1px solid greenyellow; */
        display: block;
        /* border-radius: 8px; */
    }
    
    .dropdown.open {
        display: flex;
    }
    
    /* CLASSES */
    .section-1{
        background-image: url("./Sources-ClassPage/Class-Background-iPhone/BG-Class-iP.png");
    }

    .title{
        font-size: 18vw;
        line-height: 0.8;
        margin: 5%;
    }

    .under-title{
        font-size: 2.6vw;
        width: 90%;
    }

    /* FOOTER */
     .footer-logo{
        width: 30%;
    }

    .footer-text-1{
        font-size: 3vw;
    }

    .footer-line{
        width: 80%;
    }

    .footer-text-2{
        font-size: 2vw;
    }
}